@mixin border {
  border: 1px solid rgb(0, 0, 0, 0.4);
}

.article-preview {
  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-rows: 2rem auto 2rem;
  background-color: rgb(200, 221, 248);

  .sidebar {
    @include border();
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .topBar {
    @include border();
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .bottomBar {
    @include border();
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .content {
    @include border();
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  margin-bottom: 1rem;
}
